<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>

    <h1>Orders:</h1>
    <ul>

        <block th:each="order : ${orders}">
            <li><th:block th:text="${order.getClientName()}"/>  <th:block th:text="${order.getClientAddress()}"/> <th:block th:text="${order.getBalloonSize()}"/>  <th:block th:text="${order.getBalloonColor()}"/></li>
        </block>
    </ul>
</div>
</body>
</html>